/* :root Castom Variables */
:root {
    font-family: 'Inter', sans-serif;
    --background-color: rgb(247, 233, 216);
    --slider-color: #262626;
    --slider-text: #FFF;
    --pagination-button-color: #FFA42E;
    --pagination-button-hover-color: #BBBBBB;
}

* {
    box-sizing: border-box;
}

/* Reset Default Style  */
/* Body Reset Default And Style */
html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: var(--background-color);
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: var(--slider-color);
}

.slider__wrapper>input {
    display: none;
}

.slider__screen {
    display: flex;
    flex-direction: row;
    max-width: 36.875rem;
    max-height: 36.875rem;
    overflow: hidden;
    object-fit: cover;
}

.slider__item {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    object-fit: contain;
    flex: 0 0 auto;
    transform: translateX(100%);
    /* Initial position outside the screen */
    transition: transform 0.8s;
}

.slider__item:last-child,
.slider__item:nth-child(4) {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider__item img {
    width: 100%;
    object-fit: cover;
}

.slider__img {
    max-width: 100%;
    max-height: 100%;
    /* Ensure the image doesn't exceed the container's size */
    width: auto;
    height: auto;
    border-radius: 5%;
}

.slider__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
}

.slider-pagination {
    display: flex;
    justify-content: flex-end;
}

.slider-pagination label {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--pagination-button-color);
    border-radius: 50%;
    margin: 0 0.313rem;
    cursor: pointer;
}

.slider__clickarea {
    display: block;
    padding: 0.3rem;
    cursor: pointer;
    pointer-events: auto;
}

.slider-pagination label:hover {
    background-color: var(--pagination-button-hover-color);
    transition: background-color 0.5s;
}

.slider__text {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    max-width: 24rem;
    color: var(--slider-text);
    text-align: left;
    overflow: hidden;
}

.slider__text span {
    flex: 0 0 auto;
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s, opacity 0.8s;
}

#slide1:checked~.slider__bottom>.slider__text>.slider--text1 {
    transform: translateX(0);
    opacity: 1;
}

#slide2:checked~.slider__bottom>.slider__text>.slider--text2 {
    transform: translateX(-48%);
    opacity: 1;
}

#slide3:checked~.slider__bottom>.slider__text>.slider--text3 {
    transform: translateX(-192%);
    opacity: 1;
}

#slide4:checked~.slider__bottom>.slider__text>.slider--text4 {
    transform: translateX(-680%);
    opacity: 1;
}

#slide5:checked~.slider__bottom>.slider__text>.slider--text5 {
    transform: translateX(-540%);
    opacity: 1;
}

/* Mobile Version */
@media screen and (max-width: 800px) {
    .slider-container {
        height: 90vh;
    }

    .slider__wrapper {
        margin-left: 4.063rem;
        margin-right: 4.063rem;
    }

    .slider__screen {
        width: 100%;
    }

    .slider__item {
        width: 100%;
    }

    .slider__img {
        width: auto;
        height: auto;
    }

    .slider__bottom {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .slider-pagination {
        margin-bottom: 1.25rem;
    }

    .slider__text {
        align-self: flex-start;
    }
}

/* Adjust the checked styles to use translateX for animation */
#slide1:checked~.slider__screen>.slide1 {
    transform: translateX(0);
    z-index: 1;
}

#slide2:checked~.slider__screen>.slide2 {
    transform: translateX(-100%);
    z-index: 1;
}

#slide3:checked~.slider__screen>.slide3 {
    transform: translateX(-200%);
    z-index: 1;
}

#slide4:checked~.slider__screen>.slide4 {
    transform: translateX(-300%);
    z-index: 1;
}

#slide5:checked~.slider__screen>.slide5 {
    transform: translateX(-400%);
    z-index: 1;
}

/* Стили для активной точки пагинации */
#slide1:checked~.slider__bottom>.slider-pagination label[for="slide1"],
#slide2:checked~.slider__bottom>.slider-pagination label[for="slide2"],
#slide3:checked~.slider__bottom>.slider-pagination label[for="slide3"],
#slide4:checked~.slider__bottom>.slider-pagination label[for="slide4"],
#slide5:checked~.slider__bottom>.slider-pagination label[for="slide5"] {
    background-color: transparent;
    border: 0.188rem solid var(--pagination-button-color);
}

#slide1:checked~.slider__bottom>.slider-pagination label[for="slide1"]:hover,
#slide2:checked~.slider__bottom>.slider-pagination label[for="slide2"]:hover,
#slide3:checked~.slider__bottom>.slider-pagination label[for="slide3"]:hover,
#slide4:checked~.slider__bottom>.slider-pagination label[for="slide4"]:hover,
#slide5:checked~.slider__bottom>.slider-pagination label[for="slide5"]:hover {
    border: 0.188rem solid var(--pagination-button-hover-color);
}
